click==8.0.4
colorama==0.4.6        
flask==2.2.2        
greenlet==2.0.1        
gunicorn==20.1.0 
importlib-metadata==6.0.0        
itsdangerous==2.0.1        
jinja2==3.1.2         
markupsafe==2.1.1        
openssl==3.0.9 
pip==23.1.2       
python==3.8.17       
setuptools==67.8.0       
sqlalchemy==1.4.39       
sqlite==3.41.2
werkzeug==2.2.3        
wheel==0.38.4       
zipp==3.11.0       
