
$orange: #ee8222;
$yellow: #f7cb0d;
$red: #ec232e;
$blue: #0070b5;
$green: #40b24c;

div.my-vh-100 {
    height: 100svh;
};

div.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center
};

div.bottom-row {
    display: flex;
    justify-content: start;
    align-items: center;
};

div.left-wrapper,
div.right-wrapper {
    display: inline-flex;
};

div.price-circle {
    border-radius: 50%;
    background-color: #f5f8f9;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    text-align: center;
    border: solid 1px black;
    margin-right: 3px;
    padding: auto;
    font-weight: 750;
    overflow: hidden;
};

div.price-lower {
    background-color: rgba(0,0,0,0.2);
    padding: 0;
    line-height: .9;
}

div.price-lower::before {
    padding: 0;
    margin: 0;
    font-size: small;
    content: 'was';
}

div.points-square {
    background-color: #f5f8f9;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border: solid 1px black;
    padding: auto;
    color: #eabb34;
    font-weight: bold;
    font-size: 1.5rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
};

div.credits-circle {
    border-radius: 50%;
    background-color: #f5f8f9;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    text-align: center;
    border: solid 1px black;
    margin-top: 3px;
    padding: auto;
    font-weight: 750;
};

div.adv-card{
    position: relative;
    background-color: #ede9dd;
    box-shadow: .1rem .1rem .1rem;
    height: 250px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    user-select: none;
};

div.adv-card:hover {box-shadow: .25rem  .25rem .25rem;};

div.owned-card-border {
    border-style: solid;
    border-width: 5px;
    border-color: grey;

};

div.selected-card-border {
    border-style: solid;
    border-width: 5px;
    border-color: green;
};

div.default-card-border {
    border-style: solid;
    border-width: 2px;
    border-color: black;
};

div.card-top {
    margin-inline: 10px;
    align-items: center;
};

div.card-title {
    margin-block: 3px;
    border-radius: 5px;
    border: solid 1px black;
    padding: 2px;
    font-weight: 500;
    hyphens: auto;
};

div.owned-tag {
    font-size: small;
};

div.card-bottom {
    display: flex;
    flex: 1;
};

div.credits-column {
    display: flex;
    flex-direction: column;
    justify-content: end;
};
  
div.text-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 3px;
};

div.text-wrapper {
    flex: 1 1 0px;
    display: block;
    overflow: auto;
    background-color: #f5f8f9;
    border-radius: 5px;
    border: solid 1px black;
    text-align: start;
    margin-inline-start: 2px;
};

span.text {
    height: 100%;
};

div.credit-to {
    hyphens: auto;
};

div.modal-card {
    display: block;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
};

button.modal-back {
    margin-right: auto;
    margin-top: 15vh;
};

div.viewing-card {
    margin-top: 1vh;
    margin-inline: auto;
    position: relative;
    background-color: #ede9dd;
    box-shadow: .1rem .1rem .1rem;
    height: 250px;
    width: 200px;
    padding: 3px;
};

div.credit-filter {
    width: fit-content;
};

div.credit-filter label {
    height: 35px;
    width: 35px;
};

div.credit-filter label span {
    color: black;
    border: solid black 2px;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    text-align: center;
    padding: 3px 0;
    display: block;
};

div.credit-filter label input {
    display: none;
    position: absolute;
    color: #fff;
};

div.credit-filter label input:checked + span{
    border: solid black 1px;
    box-shadow: 0 0 5px 5px yellow;
};

.blue {
    background-color: $blue;
};

.red {
    background-color: $red;
};

.yellow {
    background-color: $yellow;
};

.orange {
    background-color: $orange;
};

.green {
    background-color: $green;
};


div.score-advance {
    width: fit-content;
};

div.score {
    border: solid black 2px;
    height: 35px;
    width: fit-content;
    margin: 0;  
    text-align: center;
    background-color: #f5f8f9;
    color: #eabb34;
    font-weight: bold;
    font-size: 1.5rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    line-height: 120%;
};

div.advancing {
    box-shadow: 0 0 15px gold;
};

div.alert-screen {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2)
};

input.credit {
    width: 35px;
    height: 35px;
    border: solid black 2px;
    border-radius: 50%;
    padding: 5px;
    text-align: center;
};

input.cities {
    background-color: #f5f8f9;
    width: 35px;
    height: 35px;
    border: solid black 2px;
    border-radius: 50%;
    padding: 5px;
    text-align: center;
};

input.census {
    background-color: #f5f8f9;
    width: 35px;
    height: 35px;
    border: solid black 2px;
    padding: 5px;
    text-align: center;
};

// calamity card

div.cardInline div.calamityCard, div.cardInline div.advCard {
    height: 250px;
};

div.calamityCard {
    position: relative;
    background-color: #ede9dd;
    box-shadow: .1rem .1rem .1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    user-select: none;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    position: relative;
    padding: 8px;
};

div.calamityCard:hover {
    box-shadow: .25rem  .25rem .25rem;
};

div.minorCalamityCardTitle {
    color: rgb(74, 74, 74);
    background-color: #e3e008;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 100%;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 34px;
    padding-right: 5px;
    box-shadow: 0 3px 3px grey;
    z-index: 1;
};

div.majorCalamityCardTitle {
    color: #eabf1b;
    background-color: #a72b0f;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 100%;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 34px;
    padding-right: 5px;
    box-shadow: 0 3px 3px grey;
    z-index: 1;
};

div.nonTrable {
    background-color: #f5f8f9;
    color: #a72b0f;
    text-align: center;
    font-weight: 600;
    font-size: .9rem;
    width: 100%;
    box-shadow: 0 3px 3px grey;
    padding-right: 5px;
    padding-left: 5px;
    z-index: 1;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
};

div.levelCircle {
    border-radius: 50%;
    background-color: #f5f8f9;
    border: solid gray 1px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 1.5rem;
    color: #b7bac3;
    width: 35px;
    left: 2px;
    height: 35px;
    top: 2px;
    z-index: 2;
    box-shadow: 1px 1px 6px grey;
};

div.majorCalamity {
    background-color: #f5f8f9;
    color: #a72b0f;
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: .9rem;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: auto;
    box-shadow: 0 3px 3px grey;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
};

div.minorCalamity {
    background-color: #f5f8f9;
    color: #e3e008;
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: .9rem;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: auto;
    box-shadow: 0 3px 3px grey;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
};

div.calamityText {
    background-color: #f5f8f9;
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2px;
    box-shadow: 0 3px 3px grey;
    overflow: auto;
    text-align: start;
};

span.posModifier::before {
    content: '+ ';
    font-weight: 500;
    color: green;
};

span.negModifier::before {
    content: '- ';
    font-weight: 500;
    color: #a72b0f;
};

// bootstrap variables

$enable-negative-margins: true;

// custom veiwport breakpoint

@media screen and (min-width: 768px) {
    div.my-vh-100 {
      height: auto;
    };
;}

// bootstrap import

@import "bootstrap/scss/bootstrap";
