
div.censusSquare {
    border-radius: 2px;
    border: solid black 1px;
    margin: 1;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 1;
}

div.citiesCircle {
    border-radius: 50%;
    border: solid black 1px;
    margin: 1;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 1;
}

